---
const { title, ogtitle, description, keywords, content, nexturl, nextname } = Astro.props;

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import ArticleNavNext from '../components/articleNavNext.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Man Cheung Tsui">
	<meta name="description" content={description}>
	<meta name="keywords" content={keywords}>
    
    <!-- og:title is often the clickable title in search results or social media sharing cards -->
	<meta property="og:title" content={ogtitle}>
	<meta property="og:type" content="article">
	<meta property="og:description" content={description}>
	<meta property="og:image" content={content}>
    <!-- Links: fonts, icon, KaTeX (CSS, main, auto-render), hover.js -->
    <link rel="preload" fetchpriority="high" href="/fonts/Billy.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Load KaTeX JS defer, but download earlier than KaTeX styling (so JS can parse math while KaTeX CSS is being fetched) -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="
    renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false}
        ],
        throwOnError: false, trust: true});">
    </script>
    <!-- Load non-critical CSS asynchronously via JS with noscript fallback -->
    <!-- Load KaTeX CSS async as well -->
    <!-- <link href="/public/styles/article.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
    <link href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <!-- <link rel="stylesheet" href="/styles/article.css"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    </noscript>
    <script defer src="/scripts/hover.js"></script>
    <!-- Favicon listed last -->
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <title>{title} | Explore Mathematics</title>
</head>
<body>
    <Header />
    <main>
        <article>
            <slot name="article"></slot>


            <ArticleNavNext></ArticleNavNext>
            <section>
                <nav>
                    READ NEXT<br><a href={nexturl}>{nextname}&nbsp;<div id="b">→</div></a>
                </nav>
            </section>
        </article>
    </main>
	<Footer />
</body>
</html>

<style is:global>
    * {
        /* background-color: rgba(200, 0, 0, .1); */
    }
    @font-face {
        font-family:'Billy'; 
        src: url("/fonts/Billy.woff2");
    }
    html {
        font: 1rem 'Segoe UI', 'Lucida Grande', 'Open Sans', sans-serif;
        scroll-behavior: smooth;
    }
    body {
        margin: 0;
    }
    section {
        content-visibility: auto;
        contain-intrinsic-size: auto 100vh;
        position: relative;
    }
    section > p, section > figure, section > h1, section > h2, section > nav, table, section > ul, math, .ex {
        margin-left: min(max(1rem, 100vw - 51rem), 18rem);
    }
    math, .ex {
        max-width: 34rem;
    }
    .ex {
        border:1px solid black;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    section > p, section > ul {
        max-width: 34rem;
        margin-right: 1rem;
        line-height: 1.6;
        /* margin:0 0 1.7em 0; */
    }
    section > aside {
        position: absolute;
        font-size:.8rem;
        margin-top: 1rem;
        left: min(max(35rem, 100vw - 17rem), 54rem);
        width: 14rem;
        margin-right: 1rem;
        /* color:#656565; */
    }
    @media (max-width: 50rem) {
        section > aside {
            display: none;
        }
    }
    section > h1 {
        font-size: 3.3rem;
        line-height: 1.1;
        border-top: solid .6rem black;
        padding-top: .8rem;
        /* font-size: clamp(2rem, 15vw, 4rem); */
    }
    section > h2 {
        font-size: 2rem;
    }
    section > figure {
        max-width: 34rem;
    }
    figure {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    svg, img {
        max-width: 100%;
        height: auto;
    }
    /* Tables */
    table{
        /* table-layout: fixed; */
        border-collapse: collapse;
        margin-bottom: 2em;
    }
    th, td {
        border: 1px solid black;
        padding: .7em .4em;
    }
    
    @media (max-width: 32rem) {
        table {
            margin-left: 0;
        }
        th, td {
            padding: .4em;
        }
    }
    /* Formatting: selection, links (a), strong */
    
    strong {
        font-weight: bold;
    }
    a {
        color:#000;
        text-decoration-color: #0000004d;
        text-decoration-thickness: .15em;
        text-decoration-skip-ink: none;
    }
    h2 > a {
        text-decoration: none;
    }

    /* Make noncritical CSS external
       hover effects,
       below-the-fold items
    */

    footer {
        padding: 2rem 3%;
        font-size: .8em;
    }
    h2::after {
        content: ' #';
        opacity: 0.4;
        visibility: hidden;
    }
    h2:hover::after {
        visibility: visible;
    }
    a:hover{
        text-decoration-color: #000;
        text-decoration-thickness: .2em;
    }
    ::selection {
        background: #ffdf75;
    }
    
    /* KaTeX CSS customization */
    .katex {
        font-size:1.11em;
    }
    .katex-display {
        margin-top:.5em;
    }
    /* Custom math classes */
    .math {text-align: center;}
    .m {display: inline-block;}
</style>